<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

        <insert id="insert" parameterType="User">
                insert user(account,password,nickName,birthday)
                  values(#{account},#{password},#{nickName},#{birthday});
        </insert>

        <select id="select" parameterType="User" resultType="map">
            select
            account,
            password,
            nickName,
            birthday
            From user
            <trim prefix="WHERE" prefixOverrides="and">
                <if test="account !=null and account !=''">
                    and account = #{account}
                </if>
                <if test="password !=null and password !=''">
                    and password = #{password}
                </if>
            </trim>
        </select>

        <select id="login" parameterType="User" resultType="UserInfo">
                SELECT
                `user`.account,
                `user`.nickName,
                `user`.birthday,
                `user`.headImageUrl,
                `user`.createTime,
                family_group.`name` as groupName,
                family_group.creator,
                family_group.id as groupId
                FROM
                `user`
                LEFT JOIN family_user on `user`.account = family_user.userId
                LEFT JOIN family_group on family_user.familyId = family_group.id
                WHERE `user`.account = #{account} and `user`.password = #{password};
        </select>

        <select id="verLogin" parameterType="User" resultType="UserInfo">
            SELECT
            `user`.account,
            `user`.nickName,
            `user`.birthday,
            `user`.headImageUrl,
            `user`.createTime,
            family_group.`name` as groupName,
            family_group.creator,
            family_group.id as groupId
            FROM
            `user`
            LEFT JOIN family_user on `user`.account = family_user.userId
            LEFT JOIN family_group on family_user.familyId = family_group.id
            <trim prefix="WHERE" prefixOverrides="and">
                <if test="account !=null and account !=''">
                    and `user`.account = #{account}
                </if>
                <if test="password !=null and password !=''">
                    and `user`.password = #{password}
                </if>
            </trim>
        </select>

        <update id="updateByAccount" parameterType="User">
            update `user` SET
            <trim suffixOverrides=",">
                <if test="nickName != null and nickName != ''">
                    nickName = #{nickName},
                </if>
                <if test="birthday != null and birthday != ''">
                    birthday = #{birthday},
                </if>
                <if test="headImageUrl != null and headImageUrl != ''">
                    headImageUrl = #{headImageUrl},
                </if>
            </trim>
            WHERE account = #{account};
        </update>

        <select id="selectBirthdayReminding" parameterType="HomeRequest" resultType="BirthdayReminding">
            SELECT
              us.nickName,
              us.birthday
            FROM
              `user` us
            LEFT JOIN family_user fu on fu.userId =us.account
            WHERE ((MONTH(us.birthday) - MONTH(NOW()) = 0 AND DAY(us.birthday)-DAY(NOW())>=0) OR (MONTH(us.birthday) - MONTH(NOW()) = 1 AND DAY(NOW()) -  DAY(us.birthday) >=0) )
            AND fu.familyId = #{groupId}
        </select>
</mapper>